:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(173, 173, 173);

  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --border-radius: 5px;
  --primary-text-size: 16px;
  --secondary-text-size: 14px;
  --description-text-size: 12px;
  --padding: 10px;
  --default-unit: 10px;

  --button-selected-bg: #db6c1c;
  --button-active-bg: #969aaff1;
  --button-active-color: #000000;
  --button-hover-bg: #4da3ff;
  --button-hover-color: #272727;
  --button-deactive-bg: #919191;
  --button-deactive-color: #000000;
  --button-clean-bg: #ff0000;
  --max-width: 800px;
  --selected-bg: #baffb4;
}

body {
  margin: 0 auto;
  max-width: var(--max-width);
}

.container,
.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  padding: var(--padding);
}

.column {
  flex-direction: column;
}

.grid {
  display: grid;
}